<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_5_0.xsd" 
	version="5.0"> -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
  web-app_5_0.xsd"
	version="5.0">
	<display-name>jakartaservlettry</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- servlet-context-parameters -->
	<context-param>
		<param-name>globalkey</param-name>
		<param-value>context_level_global_value</param-value>
		<description>values which will be avalible in all servlets
		</description>
	</context-param>
	<!-- servlet configurations -->

	<servlet>
		<description></description>
		<display-name>SimpleHttpServlet</display-name>
		<servlet-name>SimpleHttpServlet</servlet-name>
		<servlet-class>com.headshot.jakartaservlettry.SimpleHttpServlet
		</servlet-class>
		<init-param>
			<description>testing servlet level key-values</description>
			<param-name>key</param-name>
			<param-value>value</param-value>
		</init-param>
	</servlet>

	<servlet>
		<description></description>
		<display-name>SimpleGenericServletTry</display-name>
		<servlet-name>SimpleGenericServletTry</servlet-name>
		<servlet-class>com.headshot.jakartaservlettry.SimpleGenericServletTry
		</servlet-class>
	</servlet>

	<!-- servlet mappings -->

	<servlet-mapping>
		<servlet-name>SimpleHttpServlet</servlet-name>
		<url-pattern>/SimpleHttpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleGenericServletTry</servlet-name>
		<url-pattern>/SimpleGenericServletTry</url-pattern>
	</servlet-mapping>
</web-app>
